#### COPY this file to env.sh
#### Customize for your environment

# Whether to have TFE CLI show debug output
DEBUG=false

# TFE SaaS Organization to install workspaces into.  This should be your own organization
# e.g ORGANIZATION=jake-lundberg
# ORGANIZATION=

# Token with access to your repo.  Can be found with:
# tfe oauth_tokens list --organization=${ORGANIZATION}
#  e.g OAUTH_ID=ot-12355321133
# OAUTH_ID=

# Owner/TTL tag values
#  e.g OWNER=jlundberg
#  e.g TTL=8
# OWNER=
TTL=8


#### AWS SPECIFIC VARIABLES ####
# Github repo for the AWS terraform assets.
#  e.g AWS_REPO=grove-mountain/terraform-aws-ec2-instance
# AWS_REPO=

# The root name for any workspace that's created.
# this can be added to to get a workspace name 
# e.g. 
# WORKSPACE_ROOT=${AWS_WORKSPACE_ROOT}
# BRANCH=qa
# WORKSPACE=${WORKSPACE_ROOT}-${BRANCH}
AWS_WORKSPACE_ROOT=aws-ec2-instance

# Your access key id to hc-se-demos
# DO NOT PUT YOUR SECRET KEY ID IN ANY OF THESE FILES!!!!
# e.g AWS_ACCESS_KEY=AKIAJRQ7XD2F4FOTR36A
# AWS_ACCESS_KEY=
 
# AWS Region to put assets into
AWS_REGION=us-east-1

# Default AWS Instance type to use
AWS_INSTANCE_TYPE=t1.micro
